/* Base layout */
/* * {
    box-sizing: border-box;
} */


body {
   font-family: 'Merriweather', serif;
}

p,
label,
option {
    color: #F08080;
}


.container {
    display: flex;
    border: none;
    flex-direction: column;
}

h1{
    background: #2d3142;
    color: white;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0px;
}

h2 {
    font-size: 1.20rem;
    text-align: center;
    margin-bottom: 0;
}

.centerText p {
    font-size: 0.85rem;
    text-align: center;
    padding: 0 20px;
}

hr {
    width: 90%;
    border-color: #2d3142;
    margin-bottom:5px;
}




.border input,
textarea,
select {
    background: #F5F5F5;
    border: 15px solid #F5F5F5;
}

.rightRequired {
    text-align:right;
}

.border hr {
    width: 90%;
    margin-top:20px;
}

.lineHeight {
    line-height: 2rem;
}
legend{
    font-size: 25px;
}

.buttonSignUp {
    text-align: center;
    border: 22px solid darkgrey;
    background:darkgrey;
    border-radius: 10px;
}

#signUp {
    background:darkgrey;
    border: none;
    color:white;
    font-size: 1.45rem;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10rem;
    color:darkgrey;
}