/* Base layout */
 * {
    box-sizing: border-box;
} 


body {
   font-family: 'Merriweather', serif;
}

p,
label,
option {
    color: #F08080;
}


.container {
    display: flex;
    border: none;
    flex-direction: column;
}

h1{
    background: #2d3142;
    color: white;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0px;
}

h2 {
    font-size: 1.20rem;
    text-align: center;
    margin-bottom: 0;
}

.centerText p {
    font-size: 0.85rem;
    text-align: center;
    padding: 0 20px;
}

hr {
    width: 90%;
    border-color: #2d3142;
    margin-bottom:5px;
}




.border input,
textarea,
select {
    background: #F5F5F5;
    border: 15px solid #F5F5F5;
    width: 100%;
}

select {
    color: #DCDCDC;
}
.rightRequired {
    text-align:right;
}

.border hr {
    width: 90%;
    margin-top:20px;
}

.lineHeight {
    line-height: 2rem;
}
legend{
    font-size: 25px;
}
.buttonSignUp {
    text-align: center;
    border: 22px solid darkgrey;
    background:darkgrey;
    border-radius: 10px;
}

#signUp {
    background:darkgrey;
    border: none;
    color:white;
    font-size: 1.45rem;
}

input:focus,
select:focus,
textarea:focus {
    border: 10px solid #DCDCDC;
    box-shadow: 3px 1px 5px #191970;
    transition: 1s;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10rem;
    color:darkgrey;
}

/* 768px Display */
@media (min-width:768px) {
    h2 {
        padding-top: 30px;
    }

    legend {
        padding-top: 30px;
    }   
    hr {
        width: 50%;
    }
    #bigScreen {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .divide {
        display: flex;
        flex-direction: row;
    }

    .divide label {
        flex-basis: 50%;
        padding-top: 10px;
    }
    .divide input,
    .divide select {
        margin-bottom: 20px;
    }
    .buttonSignUp{
        width: 50%;
    }
    
    .bigSignUp {
        display: flex;
        justify-content: center;
    }
}